* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --font-family: "CursorGothic", system-ui, Helvetica, Arial, sans-serif;
    --back-ground-color: #14120b;
    --back-ground-color-outer: #1B1913;
    --color-theme-text-sec: rgb(162, 161, 161);
    --word-spacing: -3px;
}

body {
    background-color: var(--back-ground-color);
    color: #fff;
    overflow-y: scroll;
}

.header-section {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--back-ground-color);
    z-index: 1000;
}
.navbar {
    width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 51px;

}

.logo-part {
    display: flex;
    gap: 5px;
    align-items: center;

}

.icon-1 {
    height: 22px;
}

.icon-2 {
    height: 13.7px;
}

.menus {
    list-style: none;
    display: flex;
    gap: 36px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    justify-content: center;

}
.menus li:hover{
    color: rgb(172, 170, 170);
}

.menu-part {
    margin-left: 68px;
}

.buttons-part {
    display: flex;
    justify-content: end;
    gap: 7px;
}

.sign-in {
    background-color: transparent;
    color: #fff;
    height: 28px;
    border-radius: 15px;
    width: 64px;
    border: 1px solid rgb(77, 75, 75);
}



.download {
    background-color: #fff;
    color: #111;
    height: 28px;
    border-radius: 15px;
    width: 90px;
    border: 1px solid rgb(93, 91, 91);
}

.outer-one {
    height: 1053px;
    padding: 110px;
    display: flex;
    justify-content: center;
}

.content-body {
    width: 1300px;
    height: 874px;
}

.heading-text {
    font-family: "CursorGothic", system-ui, Helvetica, Arial, sans-serif;
    font-weight: unset;
    font-size: 26px;
}

.download-app {
    background-color: #fff;
    height: 45px;
    width: 230px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.download-button {
    color: #14120b;
    font-family: "CursorGothic", system-ui, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.download-icon {
    height: 20px;
    width: 20px;
}

.first-image {
    margin-top: 65px;
    width: 100%;
}

.first-image img {
    width: 100%;
    height: auto;
    display: block;
}

.trusted-by {
    margin-top: 10px;
}

.trusted-by p {
    display: flex;
    justify-content: center;
    width: 1300;
    font-family: var(--font-family);
    font-size: 14px;
}

.trust {
    display: flex;
    justify-content: center;
    gap: 12px;

}


.trust img {
    background-color: var(--back-ground-color-outer);
    width: 152px;
    border: 0.2px solid rgb(27, 27, 27);
    height: 95px;
    padding: 28px;
    margin-top: 20px;
}

.features {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: var(--font-family);
    flex-direction: column;

}

.feature-one,
.feature-two,
.feature-three {
    margin-top: 100px;
    border-radius: 3px;
    border: 0.2px solid rgb(27, 27, 27);
    width: 75%;
    height: 685px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;

}

.first-text,
.second-text,
.third-text {
    background-color: var(--back-ground-color-outer);
    width: 33%;
    margin-left: 0px;
}

.first-image-one,
.first-image-two,
.first-image-three {
    background-color: var(--back-ground-color-outer);
    width: 67%;
}

.inner-text-one,
.inner-text-two,
.inner-text-three {
    margin-top: 260px;
    margin-left: 20px;
    font-family: var(--font-family);
    font-size: 22px;
}

.inner-text-one a {
    display: inline-block;
    margin-top: 16px;
    font-size: 17px;
    text-decoration: none;
    color: #F54E00;
}

.inner-text-two a {
    display: inline-block;
    margin-top: 16px;
    font-size: 17px;
    text-decoration: none;
    color: #F54E00;
}

.inner-text-three a {
    display: inline-block;
    margin-top: 16px;
    font-size: 17px;
    text-decoration: none;
    color: #F54E00;
}

.first-image-one img {
    width: 100%;
    padding: 15px;
    height: 100%;
}

.first-image-two img {
    width: 100%;
    padding: 15px;
    height: 100%;
}

.first-image-three img {
    width: 100%;
    padding: 15px;
    height: 100%;
}

.first-image-two {
    background-color: var(--back-ground-color-outer);
    width: 67%;
}

.text-color-two,
.text-color-3,
.text-color {
    color: var(--color-theme-text-sec);
}

.learn-link {
    text-decoration: none;
    color: #fff;
    font-family: var(--font-family);
}

.learn-link .arrow {
    margin-left: 6px;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1;
}

.learn-link-two .arrow {
    margin-left: 6px;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1;
}

.learn-link-3 .arrow {
    margin-left: 6px;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1;
}

.testimonials {
    height: 840px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonials-title {
    height: 180px;
    font-size: 36.5px;
    width: 75%;
    word-spacing: var(--word-spacing);
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: var(--font-family);
}

.testimonials-cards {
    height: 68%;
    width: 75%;
    margin-top: 60px;

}

.cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 280px);
    display: grid;
    gap: 10px
}

.card {
    background-color: var(--back-ground-color-outer);
    border-radius: 2px;
    border: 0.2px solid rgb(27, 27, 27);
}

.text-section {
    height: 72%;
    padding: 15px;
    font-weight: 400;
    font-size: 17px;
    font-family: var(--font-family);
}

.bottom-section {
    height: 28%;
    display: flex;
}

.image {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 3px;
}

.image img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.profile {
    width: 85%;
    padding: 17px 20px 30px 0px;
    font-family: var(--font-family);
    font-size: 14px;
}

.profile-p {
    color: var(--color-theme-text-sec);
}

.card-2 {
    background-color: var(--back-ground-color-outer);
}

.card-3 {
    border: 2px solid green;
    background-color: var(--back-ground-color-outer);
}

.card-4 {
    border: 2px solid green;
    background-color: var(--back-ground-color-outer);
}

.card-5 {
    border: 2px solid green;
    background-color: var(--back-ground-color-outer);
}

.card-6 {
    border: 2px solid green;
    background-color: var(--back-ground-color-outer);
}

.feature-cards {
    height: 740px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-title {
    width: 75%;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    word-spacing: var(--word-spacing);
    font-family: var(--font-family);
    font-size: 28px;
}

.features-list {
    width: 75%;
    height: 640px;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.f-cards {
    width: 500px;
    background-color: var(--back-ground-color-outer);
    border: 0.2px solid rgb(27, 27, 27);
    border-radius: 3px;
}

.f-inner-detail {
    padding: 17px;
    font-family: var(--font-family);
    font-size: 17px;
}

.f-inner-detail a {
    display: inline-block;
    margin-top: 16px;
    font-size: 17px;
    text-decoration: none;
    color: #F54E00;
}

.f-inner-img-detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-inner-img-detail img {
    width: 92%;
    margin-top: 1px;
}


.change-log {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c-title {
    width: 75%;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    word-spacing: var(--word-spacing);
    font-family: var(--font-family);
    font-size: 28px;
}

.c-cards {
    height: 120px;
    width: 75%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.c-card-1 {
    background-color: var(--back-ground-color-outer);
    width: 320px;
    border: 0.2px solid rgb(27, 27, 27);
    border-radius: 3px;
}

.c-card-top {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 0px;
    height: 30%;
}

.version {
    min-width: 40px;
    padding: 4px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1.5px solid rgb(141, 141, 148);
    border-radius: 999px;
    font-size: 14px;
    height: 25px;
    margin-right: 10px;
}

.date {
    margin-left: 1px;
    font-family: var(--font-family);
    font-weight: 600;
}

.c-card-bottom {
    padding: 18px;
    font-size: 17px;
    font-family: var(--font-family);
    height: 70%;
    font-weight: 400;
}

.cursor-link {
    font-size: 17px;
    width: 75%;
    margin-top: 20px;
}

.cursor-link a {
    color: red;
    font-weight: 500;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.team-title {
    width: 75%;
    font-size: 42px;
    font-family: var(--font-family);
}

.team-button {
    width: 75%;
}

.team-button button {
    margin-top: 20px;
    width: 113px;
    height: 43px;
    border-radius: 30px;
    font-size: 16px;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    color: rgb(72, 71, 71);
}

.team-img {
    width: 75%;
}

.team-img img {
    margin-top: 50px;
    width: 100%;
}

.highlights {
    margin-top: 135px;
    height: 665px;
    background-color: #1B1913;
    display: flex;
    justify-content: center;
    align-items: center;

}

.highlights-main {
    width: 75%;
    display: flex;
    height: 80%;
    padding: 15px 0px 0px 0px;
}

.highlights-title {
    width: 25%;
    padding: 12px 0px 0px 0px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}

.highlights-cards {
    width: 75%;
    padding: 12px 0px 0px 0px;
}

.high-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h-cards {
    background-color: #201E18;
    width: 640px;
    height: 138px;
    border: 0.2px solid rgb(36, 36, 36);
    border-radius: 3px;
}
.h-cards:hover{
    background-color: #27251e;
}

.h-content {
    padding: 12px 0px 0px 12px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 500;
}

.gap {
    margin-top: 25px;
}
.more{
    margin-top: 40px;
}
.little{
    margin-top: 4px;
}

.highlights-link{
    margin-top: 20px;
    font-size: 16px;
}

.highlights-link a{
    font-size: 16px;
    color: #F54E00;
    font-weight: 500;
}

.final-cta{
    height: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta-title{
    font-size: 68px;
    font-family: var(--font-family);
    font-weight: 500;
}

.cta-button{
    margin-top: 12px;
}

.cta-button button{
    width:240px;
    height: 45px;
    border-radius: 40px;
    font-size: 16px;
}


.footer {
    background-color: var(--back-ground-color-outer);
    color: #fff;
    padding: 80px 0 30px;
    font-family:var(--font-family);
}

.footer-inner {
    width: 65%;
    margin: 0px 0px 0px 220px;
}

.footer-cols {
    display: flex;
    justify-content: space-between;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-col h4 {
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    margin-bottom: 6px;
}

.footer-col a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.footer-left{
    margin-left: 220px;
}



.footer-bottom {
    margin-top: 80px;
    display: flex;
    width: 86%;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #9a9a9a;
    /* margin-left: 120px; */
    /* background-color: red; */
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-left: 100px; */
}

.f-icons{
    display: flex;
    gap: 10px;
    background-color: #28261f;
    border-radius: 20px;
}

.f-icons button{
    border: none;
    color: #e3e3e3;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}



.btn-1{
    background-color: rgb(65, 64, 64);
}
.btn-2{
    background-color: #27251e;
}


.lang-select {
    display: flex;
    align-items: center;
    gap: 6px;
}

.globe {
    color: #fff;
    font-size: 14px;
    background-color: #27251e;
    height: 30px;
    width: 110px;
    border-radius: 30px;
}

.f-lang {
    background: transparent;
    color: #fff;
    border: none;
    font-family: inherit;
}

.lang-select {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #27251e;
    height: 30px;
    padding: 0 12px ;
    border-radius: 30px;
}

.globe-icon {
    width: 14px;
    height: 14px;
    stroke: #fff;
    fill: none;
    stroke-width: 1.8;
}

.f-lang {
    background: transparent;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: 14px;
    outline: none;
}

.f-lang option {
    background-color: #27251e;
    color: #fff;
    width: 400px;
    border: none;
}

.shield-check {
    position: relative;
    width: 14px;
    height: 16px;
    border: 1.4px solid #9a9a9a;
    border-radius: 4px 4px 6px 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 1;
    color: #9a9a9a;
    transform: translateY(-1px);
}

.shield-check::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 7px;
    height: 7px;
    transform: translateX(-50%) rotate(-45deg);
}



